/* general */
html{
	 overflow-x :hidden ;
	 height:100%

}
body {
    padding: 0;
    background-color:#171717;
    margin:0;
    min-height: calc(100vh - 60px)

}



/* accueil */
/* header */
.site-header {
	background-color: black;
	background-image: url("../image/v9.jpg") ;
	background-repeat: repeat-x;


}

/*menu */
.site-nav{
	background-color: black;
	display:block;
}
.nav {
	color: #b8b3b3 ;
	font-weight: bold;
}


/* msg accueil */
.msgacc {
	color: white;
}

#image{
	border-width : 5px;
	border-style : solid;
	border-color : black;
	padding : 0px;

}

.img1{
    text-align: center;
}

.rubrique-info{
	color: white;
	text-align : left;
}

footer {
	weight:60px;
	text-align:left;
	bottom: 0;
	color: #b8b3b3 ;
	background-color: black;
	width : 100% ;
	margin-top:calc(100vh +60px);

}



span {
	margin-right : 50px;
}


/* Map vins */
#chercher{
background: #3a3a3a;
display: block;
padding: 10px;
border-radius: 5px;
box-shadow: 0 0 1px rgba(0,0,0,1);
margin: 0px;
width: 100%;
color: rgba(255,255,255,0.7);
line-height: 30px;
overflow: auto;
height: 379px;
}

.row2{
    text-align: center;

}

/* .row2:active{
	color:blue ;
	background-color: white;
} */

*, ::after, ::before {
    box-sizing: border-box;
}



html, body,#mapid2 {
    height: 100%;
    width: 100vw;
    text-align: center;
     background-color:#171717;
}

#mapid{
    height: 460px;
    width: 100vw;
    text-align: center;
    background-color:#171717;
}

.entete_rech
{
	color : white ;
	height : 60px;
	background-color:#3a3a3a;
}
 .gauche {
	 border-width : 5px;
	 border-style : solid;
	 border-color : black;
	 border-radius: 10px;
	height:100%;
	background-color:#3a3a3a;
}

.droite {

	height:100%;
	    background-color:#171717;
}

.contenu{
	min-height: 100%;
}



/* Accord mets-vins */

.Sgauche {
	text-align=center;
	height:250px;
	width:250px;
	background-color: #38316a;
	border-width : 15px;
	border-radius:10px;
	border-style : solid;
	border-color : white;
	color:white;
}


.Sdroite{
	text-align:center ;
	vertical-align: middle;
	height:250px;
	width:250px;
	background-color: white;
	border-width : 15px;
	border-radius: 10px;
	border-style : solid;
	border-color : #38316a;
	color:#38316a;
}

.Sgauche h4{
	margin-top : 85px;
	font-family: cursive;
	font:"Apple Chancery";
}

.Sdroite h4{
	margin-top : 85px;
	font-family: cursive;
	font:"Apple Chancery";
}

.milieuG{
	text-align:center ;
	vertical-align: middle;
	height:250px;
	width:250px;
	background-color: #6a2554;
	border-width : 15px;
	border-radius: 10px;
	border-style : solid;
	border-color : #de96c7;
	color:#de96c7;
}

.milieuD{
	text-align:center ;
	vertical-align: middle;
	height:250px;
	width:250px;
	background-color: #de96c7;
	border-width : 15px;
	border-radius: 10px;
	border-style : solid;
	border-color : #6a2554;
	color:#6a2554;
}

.Tmilieu{
	text-align:center ;
	vertical-align: middle;
	height:250px;
	width:250px;
	background-color: #178e35;
	border-width : 15px;
	border-radius: 10px;
	border-style : solid;
	border-color : #48fb75;
	color:#48fb75;
}

.milieuG h4{
	margin-top : 85px;
	font-family: cursive;
	font:"Apple Chancery";
}

.milieuD h4{
	margin-top : 85px;
	font-family: cursive;
	font:"Apple Chancery";
}

.Tmilieu h4{
	margin-top : 85px;
	font-family: cursive;
	font:"Apple Chancery";
}

.Sgauche:hover {
border-color : #38316a;
color: #38316a;
background-color: white;
}

.Sdroite:hover {
border-color :white;
color: white;
background-color:#38316a ;
}

.milieuG:hover {
border-color :#6a2554;
color:#6a2554;
background-color:#de96c7 ;
}

.milieuD:hover {
border-color :#de96c7 ;
color:#de96c7 ;
background-color:#6a2554;
}

.Tmilieu:hover {
border-color :#178e35;
color:#178e35;
background-color:#48fb75;
}

/* A propos */

.transition {

    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari et Chrome */
    -o-animation: fadein 4s; /* Opera */

}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

#imgpp{
	width: 600px;
}

.info {

	  padding: 6px 8px;
	  font: 14px/16px Arial, Helvetica, sans-serif;
	   background: white;
	    background: rgba(255,255,255,0.8);
	    box-shadow: 0 0 15px rgba(0,0,0,0.2);
	    border-radius: 5px;

	}

.info h4 {
	 margin: 0 0 5px;
	color: #777;

	}


.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


.liste-vin{
	color:white;
	display: block;
	width: 100%;
	text-align: center;
	line-height: 30px;
	overflow: auto;
	max-height: 380px;
}

.affiche-liste-vin{
	color:white;
	display: block;
	margin-right: 230px;;
	width: 20%;
	text-align: center;
	line-height: 30px;
	overflow: auto;
	max-height: 380px;
}


.liste:hover{
	color:blue;
}
